extends layout

block header
  link(rel="stylesheet" href="/css/compiled/user-profile.css" type="text/css" media="screen")
  link(rel="stylesheet" href="/css/compiled/user-list.css" type="text/css" media="screen")

block content
  .content
    #pad-wrapper.user-profile
      .row.header#docDetail
        .col-md-12
          ol.breadcrumb
            li
              a(href='/') Inbox
            li.active
              a(href='#') Price options for your Vasectomy
        .col-md-12
          .col-md-8  
            h3.name Anthem - Blue Cross Blue Shield
            span.area Insurance Provider
      .row.profile#meta
        .col-md-12
          h4 Surgical Procedure 
          br
          table.table.table-hover
              thead
                tr
                  th.col-md-3
                    | Procedure Code
                  th.col-md-9
                    span.line
                    | Procedure Name
              tbody
                //
                   row 
                tr.first
                  td
                    a(href='#') 55450
                  td
                    | Vasectomy - Ligation of Sperm Duct
    #pad-wrapper.user-list
      .row
        .col-md-12
          table.table.table-hover
            thead
              tr
                th.col-md-1.sortable
                  | Out of Pocket Cost
                th.col-md-1.sortable
                  span.line
                  | Cash Price
                th.col-md-1.sortable
                  span.line
                  | Medicare Price
                th.col-md-6(style='padding-left: 200px')
                  span.line
                  | Provider Info
            tbody
              //
                 row 
              tr.first
                td= data.collection1[0].oof
                td= data.collection1[0].cashprice
                td= data.collection1[0].medicare
                td= data.collection1[0].Provider
              //
                 row 
              tr
                td= data.collection1[1].oof
                td= data.collection1[1].cashprice
                td= data.collection1[1].medicare
                td= data.collection1[1].Provider
              tr
                td= data.collection1[2].oof
                td= data.collection1[2].cashprice
                td= data.collection1[2].medicare
                td= data.collection1[2].Provider
              tr
                td= data.collection1[3].oof
                td= data.collection1[3].cashprice
                td= data.collection1[3].medicare
                td= data.collection1[3].Provider
              tr
                td= data.collection1[3].oof
                td= data.collection1[3].cashprice
                td= data.collection1[3].medicare
                td= data.collection1[3].Provider
              tr
                td= data.collection1[4].oof
                td= data.collection1[4].cashprice
                td= data.collection1[4].medicare
                td= data.collection1[4].Provider
              tr
                td= data.collection1[5].oof
                td= data.collection1[5].cashprice
                td= data.collection1[5].medicare
                td= data.collection1[5].Provider
              tr
                td= data.collection1[6].oof
                td= data.collection1[6].cashprice
                td= data.collection1[6].medicare
                td= data.collection1[6].Provider
              tr
                td= data.collection1[7].oof
                td= data.collection1[7].cashprice
                td= data.collection1[7].medicare
                td= data.collection1[7].Provider
  